<div class="subscription-pannel">
  <mat-tab-group>
    <mat-tab label="Vos abonnements">
      <div class="content-pannel">
        <div class="subscription-card" *ngFor="let subscription of ongoingSubscription">
          <div class="subscription-card-header">
            <p style="font-size: 24px; margin: 0; padding: 10px"><img src="{{subscription.subscribed_icon? subscription.subscribed_icon : '/assets/no-image-found.jpg'}}" alt=""
                     class="profile-picture"> {{subscription.subscribed_username}}<mat-icon >verified_user</mat-icon></p>
          </div>
          <div style="margin-top: 10px">
            Abonnement tier {{subscription.tier}}
          </div>
          <div style="margin-top: 10px">
            Nombre total de mois d'abonnement :  {{subscription.total_month}}
          </div>
          <div style="margin-top: 10px">
            Vos avantages arrivent à expiration le :  {{subscription.date_end | date: 'dd/MM/yyyy'}}
          </div>
          <div style="width: 100%;">
            <button mat-button style="right: 0; float: right; margin-top: 5px" class=" mat-raised-button mat-accent" (click)="giftSub(subscription.subscribed_username)">Offrir abonnement</button>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Abonnements offerts">
      <div class="subscription-card" *ngFor="let subscription of giftedSubscription">
        <div class="subscription-card-header">
          <p style="font-size: 24px; margin: 0; padding: 10px"><img src="{{subscription.subscribed_icon? subscription.subscribed_icon : '/assets/no-image-found.jpg'}}" alt=""
                                                                    class="profile-picture"> {{subscription.subscribed_username}}<mat-icon >verified_user</mat-icon></p>
        </div>
        <div style="margin-top: 10px">
          Abonnement tier {{subscription.tier}}
        </div>
        <div style="margin-top: 10px">
          Nombre total de mois d'abonnement :  {{subscription.total_month}}
        </div>
        <div style="margin-top: 10px">
          Vos avantages arrivent à expiration le :  {{subscription.date_end | date: 'dd/MM/yyyy'}}
        </div>
        <div style="margin-top: 10px">
          Offert par :  {{subscription.giver_username}}
        </div>
        <div style="width: 100%;">
          <button mat-button style="right: 0; float: right; margin-top: 5px" class=" mat-raised-button mat-accent" (click)="giftSub(subscription.subscribed_username)">Offrir abonnement</button>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Abonnements expirés">
      <div class="subscription-card" *ngFor="let subscription of expiredSubscription">
        <div class="subscription-card-header">
          <p style="font-size: 24px; margin: 0; padding: 10px"><img src="{{subscription.subscribed_icon? subscription.subscribed_icon : '/assets/no-image-found.jpg'}}" alt=""
                                                                    class="profile-picture"> {{subscription.subscribed_username}}<mat-icon >verified_user</mat-icon></p>
        </div>
        <div style="margin-top: 10px">
          Nombre total de mois d'abonnement :  {{subscription.total_month}}
        </div>
        <div style="width: 100%;">
          <button mat-button style="right: 0; float: right; margin-top: 5px" class=" mat-raised-button mat-accent" (click)="subscribeUser(subscription.subscribed_username)">Se réabonner</button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
