<mat-sidenav-container class="cook-container">
  <mat-sidenav  fixedTopGap="56" opened="true" mode="side" [fixedInViewport]="false" class="cook-sidenav">
    <mat-nav-list>
      <div mat-subheader>Cuisine</div>
      <a mat-list-item routerLink="/cook/recipe">Mes recettes</a>
      <a mat-list-item routerLink="/cook/book"  *ngIf="isPartner === true">Mes livres</a>


      <div mat-subheader>Compte</div>
      <a mat-list-item routerLink="/cook/info">Mes informations</a>
      <a mat-list-item routerLink="/cook/payment-information">Mes informations de paiement</a>
      <a mat-list-item routerLink="/cook/bank-account-information">Mes informations de compte bancaire</a>

      <div mat-subheader  *ngIf="isPartner === true">Partenaire</div>
      <a mat-list-item routerLink="/cook/dashboard" *ngIf="isPartner === true">Tableau de bord</a>
      <a mat-list-item routerLink="/cook/payslip" *ngIf="isPartner === true">Mes revenus</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="cook-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
