<mat-card>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2>Connexion</h2>
      <mat-error *ngIf="loginInvalid">
        Le nom d'utilisateur ou le mot de passe est invalide.
      </mat-error>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Nom d'utilisateur" formControlName="username" required>
        <mat-error>
          Renseignez un nom d'utilisateur valide.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput type="password" placeholder="Mot de passe" formControlName="password" required>
        <mat-error>
          Renseignez un mot de passe valide.
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">Se connecter</button>
    </form>
  </mat-card-content>
</mat-card>
