<mat-card class="example-card" (click)="redirect()">
  <mat-card-header>
    <img src="{{recipe.creator_icon? recipe.creator_icon : '/assets/no-image-found.jpg'}}" alt=""  mat-card-avatar class="example-header-image">
    <mat-card-title>{{recipe.creator_username}}</mat-card-title>
  </mat-card-header>
  <img class="card-image" mat-card-image src="{{recipe.thumbnail?.path ? recipe.thumbnail.path:'/assets/no-image-found.jpg'}}" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <h2>{{recipe.name}}</h2>
    <p>
      {{recipe.can_be_seen?recipe.description:'Vous n\'avez pas le tier suffisant d\'abonnement pour accéder à cette recette ('+recipe.min_tier+')'}}
    </p>
  </mat-card-content>
</mat-card>
