.example-card {
  width: 600px;
  margin: 20px auto;
  height: 500px;
}

.clickable {
  cursor: pointer;
}

.example-header-image {
  background-size: cover;
}

.card-image {
  height: 300px;
  object-fit: cover;
}

.card-header {
  margin-bottom: 10px;
}

.center {
  text-align: center;
}
