.example-card {
  max-width: 50%;
  margin: 20px auto;
  max-height: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;

}

.card-image {
  height: 300px;
}
