<h2>Ajouter une recette</h2>
<mat-horizontal-stepper [linear]="true" #stepper >
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Information générale</ng-template>
      <div class="center">Bienvenu sur le formulaire d'ajout de recette de TipsChef. <br> Suivez les différents étapes, saisissez les informations nécessaires à votre recette et visualisez-la en ligne.</div>

      <mat-form-field>
        <mat-label>Tier d'accès : </mat-label>
        <input matInput placeholder="Saisissez le tier minimum pour accès" formControlName="firstCtrl" required type="number" min="0">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nom : </mat-label>
        <input matInput placeholder="Saisissez un nom de recette" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Information de la recette</ng-template>
      <div class="center">Bienvenu sur le formulaire d'ajout de recette de TipsChef. <br> Suivez les différents étapes, saisissez les informations nécessaires à votre recette et visualisez-la en ligne.</div>

      <mat-form-field>
        <mat-label>Tier d'accès : </mat-label>
        <input matInput placeholder="Saisissez le tier minimum pour accès" formControlName="firstCtrl" required type="number" min="0">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nom : </mat-label>
        <input matInput placeholder="Saisissez un nom de recette" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Les ingrédients et étapes</ng-template>
      <div class="center">Bienvenu sur le formulaire d'ajout de recette de TipsChef. <br> Suivez les différents étapes, saisissez les informations nécessaires à votre recette et visualisez-la en ligne.</div>

      <mat-form-field>
        <mat-label>Tier d'accès : </mat-label>
        <input matInput placeholder="Saisissez le tier minimum pour accès" formControlName="firstCtrl" required type="number" min="0">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Nom : </mat-label>
        <input matInput placeholder="Saisissez un nom de recette" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
