<mat-toolbar color="primary">
  <button mat-icon-button  routerLink="/home">
    <mat-icon>home</mat-icon>
  </button>
  <span>TipsChef</span>
  <span class="tc-spacer"></span>
  <div class="header-button-row">
    <button mat-raised-button routerLink="/log-in"  *ngIf="!isLoggedIn">Connexion</button>
    <button mat-raised-button color="accent" routerLink="/sign-up"  *ngIf="!isLoggedIn">Inscription</button>
  </div>
  <div *ngIf="isLoggedIn">
    {{username}}
  </div>
  <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="isLoggedIn">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu" >
  <!--<button mat-menu-item routerLink="/cook/dashboard">
    <mat-icon>account_circle</mat-icon>
    <span>Profile</span>
  </button>-->
  <button mat-menu-item routerLink="/cook/recipe">
    <mat-icon>dashboard</mat-icon>
    <span>Votre cuisine</span>
  </button>
  <button mat-menu-item routerLink="/liked-recipe">
    <mat-icon>favorite</mat-icon>
    <span>Votre recette aimées</span>
  </button>
  <button mat-menu-item (click)="disconnect()" *ngIf="isLoggedIn">
    <mat-icon>logout</mat-icon>
    <span>Déconnexion</span>
  </button>
</mat-menu>

<router-outlet></router-outlet>
