<mat-toolbar color="primary">
  <button mat-icon-button  routerLink="/home">
    <mat-icon>home</mat-icon>
  </button>
  <span>TipsChef</span>
  <span class="tc-spacer"></span>
  <div class="header-button-row">
    <button mat-raised-button routerLink="/log-in">Connexion</button>
    <button mat-raised-button color="accent" routerLink="/sign-up">Inscription</button>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>account_circle</mat-icon>
  </button>

</mat-toolbar>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/cook/dashboard">
    <mat-icon>dashboard</mat-icon>
    <span>Cook space</span>
  </button>
  <button mat-menu-item>
    <mat-icon>logout</mat-icon>
    <span>Déconnexion</span>
  </button>
</mat-menu>
<router-outlet></router-outlet>
