<mat-toolbar color="primary">
  <img src="assets/logo.png" routerLink="/home" class="tipschef-logo">
  <span class="tc-spacer"></span>
  <div class="header-button-row">
    <button mat-raised-button routerLink="/log-in"  *ngIf="!isLoggedIn">Connexion</button>
    <button mat-raised-button color="accent" routerLink="/sign-up"  *ngIf="!isLoggedIn">Inscription</button>
  </div>
  <div *ngIf="isLoggedIn" class="search-div">
    <form [formGroup]="firstFormGroup"  (ngSubmit)="search()">
      <mat-form-field appearance="fill">
        <input type="search" placeholder="Cuisinier..." matInput  formControlName="search">
      </mat-form-field>
      <mat-icon class="search-icon" (click)="search()">search</mat-icon>
    </form>
  </div>
  <div  style="cursor:pointer" [matMenuTriggerFor]="menu"  *ngIf="isLoggedIn">
    {{username}}
  </div>
  <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="isLoggedIn">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

<mat-menu #menu="matMenu" >
  <button mat-menu-item routerLink="/{{username}}">
    <mat-icon>account_circle</mat-icon>
    <span>Profil</span>
  </button>
  <button mat-menu-item routerLink="/cook/recipe">
    <mat-icon>dashboard</mat-icon>
    <span>Votre cuisine</span>
  </button>
  <button mat-menu-item routerLink="/subscriptions">
    <mat-icon>star_outline</mat-icon>
    <span>Vos abonnements</span>
  </button>
  <button mat-menu-item routerLink="/liked-recipe">
    <mat-icon>favorite</mat-icon>
    <span>Vos recettes favorites</span>
  </button>
  <button mat-menu-item routerLink="/book-purchase">
    <mat-icon>library_books</mat-icon>
    <span>Vos livres achetés</span>
  </button>
  <button mat-menu-item (click)="disconnect()" *ngIf="isLoggedIn">
    <mat-icon>logout</mat-icon>
    <span>Déconnexion</span>
  </button>
</mat-menu>

<router-outlet></router-outlet>
