
<div class="content">
  <h1>Historique d'achat de livre </h1>
  <mat-form-field>
    <mat-label>Filtre</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Livre">
  </mat-form-field>
  <div class="mat-elevation-z8 ">
    <table mat-table [dataSource]="this.dataSource" class="mat-elevation-z8" matSort>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Titre</th>
        <td mat-cell *matCellDef="let books"> {{books.title}} </td>
      </ng-container>

      <ng-container matColumnDef="creator">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Créateur</th>
        <td mat-cell *matCellDef="let books" (click)="redirect(books)" class="tipschef-button button-clickable" > {{books.creator}} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prix</th>
        <td mat-cell *matCellDef="let books"> {{books.price_euro}} €</td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date d'achat</th>
        <td mat-cell *matCellDef="let books"> {{books.buy_date| date:'dd/MM/YYYY hh:mm' }}  </td>
      </ng-container>

      <ng-container matColumnDef="download">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Téléchargement</th>
        <td mat-cell *matCellDef="let books">
          <a href="{{books.path}}"><button mat-button  class="mat-accent mat-raised-button">Télécharger</button></a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row ; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>


