<div *ngIf="user">
  <div class="full-width">
    <img class="full-width profile-header" src="{{user.background_url? user.background_url : '/assets/no-image-found.jpg'}}" alt="">
  </div>
  <div class="display-flex border-top">
    <div class="flex-grow-2 border center">
      <div class="margin-top">
        <img src="{{user.profile_url? user.profile_url : '/assets/no-image-found.jpg'}}" alt="" class="profile-picture">
      </div>
      <h2>
        {{user.username}}
      </h2>
      <div>
        {{user.description}}
      </div>
      <div class="display-flex margin-top">
        <div class="flex-grow-6 "></div>
        <div class="flex-grow-6 ">
          <p>{{user.followers}}</p>
          <p>Abonnées</p>
        </div>
        <div class="flex-grow-6">
          <p>{{user.likes}}</p>
          <p>Likes</p>
        </div>
        <div class="flex-grow-6 "></div>
      </div>
      <div class="display-flex margin-top">
        <div class="flex-grow-6 "></div>
        <div class="flex-grow-6 display-flex">
          <div class="flex-grow-6 "><button class="mat-raised-button mat-primary">S'abonner</button></div>
          <div class="flex-grow-6 "><button class="mat-raised-button mat-primary">Suivre</button></div>
          <div class="flex-grow-6 "><button class="mat-raised-button mat-primary">Plus</button></div>
        </div>
        <div class="flex-grow-6 "></div>
      </div>
    </div>
    <div class="flex-grow-6">
      <mat-tab-group>
        <mat-tab label="Recettes">
          <app-recipe-scroll (loadData)="loadData()" [pagination]="pagination">
          </app-recipe-scroll>
        </mat-tab>
        <mat-tab label="Livres">
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
