
.profile-picture{
  border-radius: 50%;
  max-width: 100px;
  height: 100px;
}

.profile-description-count{
  display: flex;
  justify-content: center;
}

.profile-description-count-like{
  width: 100px;
}

.profile-description-count-subscriber{
  width: 100px;
}


